body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#profileimg{
    position: absolute;
    left: 30px;
    top: 19px;
    height: 170px;
    width: 170px;
    border-radius: 90px;
}

div{
    background-color:blue;
    width: 250px;
    height: 1000px;
}

h1{
    position: absolute;
    top: 0px;
    left: 400px;
    font-size: 66px;
    color: blue;
    text-align: right;
}

.devv{
    position: absolute;
    top: 90px;
    left: 400px;
    font-size: 37px;
}

#aboutmeimg{
    position: absolute;
    top: 270px;
    left: 300px;
    width: 200px;
    height: 100px;
}

h2{
    position: absolute;
    top: 260px;
    left: 490px;
    height: 80px;
    font-size: 39px;
    background-color: blue;
    width: 800px;
}

p{
    position: absolute;
    top: 400px;
    left: 490px;
    height: 100px;
    font-size: 19px;
}

ol{
    position: absolute;
    top: 490px;
    left: 650px;
    height: 100px;
    font-size: 19px;
}

.p2{
    position: absolute;
    top: 590px;
    left: 490px;
    height: 100px;
    font-size: 19px;
}

h3{
     position: absolute;
    top: 730px;
    left: 490px;
    height: 80px;
    font-size: 39px;
    background-color: blue;
    width: 800px;
}

#projectimg{
    position: absolute;
    top: 730px;
    left: 280px;
    width: 200px;
    height: 150px;
}

.p3{
    position: absolute;
    top: 850px;
    left: 490px;
    height: 100px;
    font-size: 19px;
}

.onlinegro{
    position: absolute;
    top: 150px;
    left: 80px;
    height: 200px;
}

.p4{
    position: absolute;
    top: 1250px;
    left: 490px;
    height: 100px;
    font-size: 19px;
}

#portfolioimg{
    position: absolute;
    top: 1880;
    left: 80px;
    height: 200px;
}

.p5{
    position: absolute;
    left: 480px;
    top: 1680px;
    height: 200px;
}